@font-face {
    font-family: orange-kid;
    src: url(orangekidregular.ttf);
}

body{
    font-family: orange-kid;
    color:white;
    font-weight:normal;
}

h1{
    font-weight:normal;
    font-size:1.5em;
}

h2{
    font-weight:normal;
    font-size:2em;
}

faq{
    font-weight:normal;
    font-size:1.5em;
    margin-bottom:10;
}

button{
    font-family: orange-kid;
    color:white;
    font-weight:normal;
    font-size:20px;
}
